<a href="https://colab.research.google.com/github/gregdilella/pandas/blob/master/SQLdb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import yfinance as yf
import pandas as pd
from sqlalchemy import create_engine
from datetime import timedelta

In [4]:
engine = create_engine('sqlite:///intraday_DB.db')

In [6]:
df = yf.download('BTC-USD', start=pd.to_datetime('today') - timedelta(7),interval = '1h')

[*********************100%***********************]  1 of 1 completed

In [8]:
df.to_sql('BTCUSD_1h',engine)

169

In [9]:
pd.read_sql('SELECT * FROM BTCUSD_1h',engine)

,Datetime,Open,High,Low,Close,Adj Close,Volume
0,2023-04-02 19:00:00.000000,28172.611328,28172.611328,27886.873047,27937.595703,27937.595703,0
1,2023-04-02 20:00:00.000000,27944.962891,28080.447266,27922.869141,28074.886719,28074.886719,0
2,2023-04-02 21:00:00.000000,28074.007812,28147.021484,28003.464844,28027.306641,28027.306641,127332352
3,2023-04-02 22:00:00.000000,28025.005859,28101.365234,27884.087891,28101.365234,28101.365234,332982272
4,2023-04-02 23:00:00.000000,28100.953125,28202.138672,28063.998047,28202.138672,28202.138672,159307776
...,...,...,...,...,...,...,...
164,2023-04-09 15:00:00.000000,27883.496094,27930.677734,27853.132812,27902.568359,27902.568359,105743360
165,2023-04-09 16:00:00.000000,27902.074219,27945.732422,27902.074219,27910.025391,27910.025391,110580736
166,2023-04-09 17:00:00.000000,27922.605469,27937.027344,27886.257812,27920.884766,27920.884766,86349824
167,2023-04-09 18:00:00.000000,27920.093750,28056.843750,27919.289062,28034.439453,28034.439453,176891904
168,2023-04-09 19:00:00.000000,28031.875000,28058.527344,28013.152344,28016.214844,28016.214844,1326080

In [13]:
max_date = pd.read_sql('SELECT MAX(Datetime) FROM BTCUSD_1h', engine).values[0][0]

In [18]:
new_rows = df[df.index > max_date]

In [19]:
new_rows.to_sql('BTCUSD_1h', engine , if_exists = 'append')

0